
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');  
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body{
    background-color: #111010;
    color: blanchedalmond;
    font-family: Poppins;
}

.app {
    margin: auto;
    width: 400px

    }
    button {
        width: 100px;
        height: 50px
    }